services:

  # Crawler Service
  crawler:
    container_name: stac-crawler
    build:
      context: .
      dockerfile: crawler/Dockerfile
    env_file:
      - ./crawler/.env
    volumes:
      - ./crawler:/app/crawler # delete for production
      - ./crawler/logs:/app/crawler/logs
    depends_on:
      - api
    restart: unless-stopped

  # pgAdmin Web Interface
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  # Backend API 
  api:
    container_name: stac-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:3000"
    env_file:
      - ./api/.env
    volumes:
      - ./api:/app/api # delete for production 
      - /app/api/node_modules # delete for production 
      - ./docs:/app/docs # delete for production
      - ./api/logs:/app/api/logs
    command: npm run dev # use npm start for production

  # Frontend STAC Browser 
  web-ui:
    container_name: stacfinder-web-ui
    build:
      context: ./web-ui
      dockerfile: Dockerfile
      target: development #delete for production 
      args:
        - DYNAMIC_CONFIG=true
        - historyMode=history
        - pathPrefix=/
    ports:
      - "8080:8080"
    environment:
      - VUE_APP_API_URL=http://api:3000 
    volumes: # delete volumes for production 
      - ./web-ui:/app 
      - /app/node_modules
    depends_on:
      - api

volumes:
  pgadmin_data: