services:

  # Crawler Service
  crawler:
    container_name: stacfinder-crawler
    build:
      context: .
      dockerfile: crawler/Dockerfile
    environment:
      - DB_HOST=${CRAWLER_DB_HOST}
      - DB_PORT=${CRAWLER_DB_PORT}
      - DB_USER=${CRAWLER_DB_USER}
      - DB_PASS=${CRAWLER_DB_PASS}
      - DB_NAME=${CRAWLER_DB_NAME}
    volumes:
      - ./crawler:/app/crawler/ # delete for production
      - /app/crawler/node_modules
      - ./crawler/logs:/app/crawler/logs
    depends_on:
      - api
    restart: unless-stopped

  # Backend API 
  api:
    container_name: stacfinder-api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "${API_PORT:-4000}:${API_PORT:-4000}"
    environment:
      - API_PORT=${API_PORT:-4000}
      - API_HOST=${API_HOST:-0.0.0.0}
      - DB_HOST=${API_DB_HOST}
      - DB_PORT=${API_DB_PORT}
      - DB_USER=${API_DB_USER}
      - DB_PASS=${API_DB_PASS}
      - DB_NAME=${API_DB_NAME}
    volumes:
      - ./api:/app/api # delete for production 
      - /app/api/node_modules # delete for production 
      - ./docs:/app/docs # delete for production
      - ./api/logs:/app/api/logs
    command: npm run dev # use npm start for production

  # Frontend STAC Browser 
  web-ui:
    container_name: stacfinder-web-ui
    build:
      context: ./web-ui
      dockerfile: Dockerfile
      target: development #delete for production 
      args:
        - DYNAMIC_CONFIG=true
        - historyMode=history
        - pathPrefix=/
    ports:
      - "${WEB_UI_PORT:-8080}:8080"
    environment:
      - VUE_APP_API_URL=http://api:${API_PORT:-4000} 
    volumes: # delete volumes for production 
      - ./web-ui:/app 
      - /app/node_modules
    depends_on:
      - api

  # pgAdmin Web Interface
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgadmin_data: