services:

  # pgAdmin Web Interface
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: stacfinder-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    
  api:
    container_name: STACFinder
    build: .
    ports:
      - "4000:3000"
    env_file:
      - ./api/.env
    environment:
      - NODE_ENV=development
    volumes:
      - ./api:/app/api
      - /app/api/node_modules
      - ./web-ui:/app/web-ui
    command: npm run dev # use npm start for production

volumes:
  pgadmin_data:
